#improve bash history search for Up/Down
#"\e[A":history-search-backward
#"\e[B":history-search-forward

set show-all-if-ambiguous on

#bind -v
#set bell-style visible
set visible-stats on

#bind -p
#set convert-meta on

#M-1 M-. C-x* M-* pushd popd M-r
"\C-p": menu-complete
"\C-n": menu-complete-backward

#"\ek": copy-region-as-kill
